html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #edf2fc;
    color: #4E457A;
  }
  
  
  /* Navigation Bar*/
  nav{
      width: 90%;
      margin: auto;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .logo{
      width: 150px;
      font-size: 50px;
      color: #4E457A;
      cursor: pointer;
  }
  nav ul {
      position: relative;
  }
  nav ul li{
      display: inline-block;
      position: relative;
      list-style: none;
      margin: 00px 10px;
  }
  nav ul li.active{
      color: #007bff;
  }
  nav ul li.active::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      left: 0;
      top: 20px;
      background: #007bff;
  }
  
  nav ul li a{
      text-decoration: none;
      font-weight: bold;
      color: #4E457A;
  }
  nav ul li a:hover{
      color: #007bff;
  }
  /* End Of Navigation*/
  

/* Common */
section, footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
section .myname,
section .title {
    font-size: 30px;
    font-weight: bold;
}

/* Home section 01*/ 
    .aboutme {
        flex-direction: unset;
    } 
  .aboutme .image {
    overflow: hidden;
    width: 200px;
    height: 200px;
    /* border: 3px solid #007bff; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  .aboutme .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .aboutme .content {
    width: 400px;
    margin-left: 30px;
  }

  /* MY HOBBIES*/
  
  .hobbies .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 25px;
    padding-left: 0;    
  }
  
  .hobbies .box-container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 35px;
    background: #fff;
    min-width: 100px;
    margin: 15px;  
  }

  /* MY SKILLS*/
  .skills .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding-left: 0;
  }
  
  .skills .box-container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    background: #fff;
    width: 150px;
    margin: 15px;   
  }
    
  .skills .box-container .box img {
    height: auto;
    width: 30%;
    margin-bottom: 5px;
  }
  
  .skills .box-container .box span {
    /* color: #fff; */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* FOOTER */
  footer .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    background: linear-gradient(to right, #007bff 0%, #6610f2 75%);
    min-width: 100px;
    margin: 30px; 
  }


  /* CONTACT PAGE*/
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  
  form input,
  form select,
  form textarea {
    border-radius: 15px;
    line-height: 24px;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 1px solid #4E457A;
    width: 100%;
  }
  form .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #007bff 0%, #6610f2 75%);
    min-width: 100px;
    margin: 30px; 
    margin-top: 0;
  }

  /* REGISTRATION PAGE*/
  .registration form {
    width: 70%;
  }
  form .inputBox,
  form .inputBox2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  form .inputBox input,
  form .inputBox select {
    margin: 10px;
    width: 44%;
    min-width: 300px;
  }
  form .inputBox2 input,
  form .inputBox2 select {
    margin: 10px;
    width: 92.5%;
  }

  .registration form .btn{
    margin-top: 20px;
  }